html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
}

body{
    font-family: -apple-system-body, BlinkMacSystemFont, 'Segoe UI',
		Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    position: fixed;
    display: flex;
    background: #fff;
    margin-top: -10px;
    border-bottom: 1px solid #6288a5;
    padding: 10px 9px;
    width: 100%;
}

button {
    transition: ease 0.6s;
    padding: 8px;
    background-color: #6288a5;
    border: 0.4px solid #326891;
    color: #fff;
    font-size: 11px;
    margin-left: 10px;
    border-radius: 3px;
}

hr {
    margin-bottom: 70px;
}

section {
    text-align: center;
}

section>div>p {
    width: 500px;
	margin: 0 auto;

}

p {
    font-family: nyt-franklin, Helvetica Neue, Arial, sans-serif;
    text-align: left;
}

h3{
  font-weight: bold;
}

.qlinks{
    text-transform: capitalize;
}

footer{
    padding: 10px 50px;
}

.footer {
    /*arranges the footer list topics*/
    float: left;
    width: 16.6%;
}

.footer>ul {
    list-style: none;
}

.footer>ul>li:first-child{
    /*Styles all the first(topic) items in footer list topics*/
    font-weight: bold;
}

footer>ul {
    /*styles for the last list in the footer*/
    display: inline-block;
    list-style: none;
    font-size: 10px;
}

footer>ul>li {
    /*styles for the last list in the footer*/
    float: left;
    margin: 35px;
}

#editor-pick{
    /* styles for the editors'pick sidebar*/
    width: 300px;
    margin-right: 0;
    margin-left: auto;
}

